<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Move To London | Room Flog | London</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/vnd.microsoft.icon" href="~/Images/favicon.ico" />
    

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <!-- Custom styles CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/LayoutScripts/modernizr.custom.js"></script>

</head>
<body>

    <!-- Preloader -->

    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- Home start -->

    <section id="home" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
        <div class="intro">
            <div class="start"></div>
            <span style="font-size:60px; font-weight:700;">Move To London
                    </span>
            <div class="start">Agency by Roomflog</div>
        </div>

        <a href="#pagestart">
            <div class="scroll-down">
                <span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </span>
            </div>
        </a>

    </section>

    <!-- Home end -->
    <!-- Navigation start -->

    <header class="header">

        <nav class="navbar navbar-custom" role="navigation">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Room Flog</a>
                    @*<img src="~/Images/uk_flag.gif"/>
                    <img src="~/Images/frenchflag.JPEG"/>*@
                </div>

                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#services">About Us</a></li>
                        <li><a href="@Url.Action("OnlineBooking","Home")">Book your Room</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

            </div><!-- .container -->

        </nav>

    </header>

    <!-- Navigation end -->
    
    @RenderBody()

    <!-- Footer start -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">

                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/pages/Move-to-London-Roomflog/420735021444192?fref=ts" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                    <p class="copyright">
                        © 2015 Room Flog (All rights reserved)
                    </p>

                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </footer>

    <!-- Footer end -->
    <!-- Scroll to top -->

    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>

    <!-- Scroll to top end-->
    <!-- Javascript files -->
    <script src="~/Scripts/LayoutScripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/LayoutScripts/bootstrap.min.js"></script>
    <script src="~/Scripts/LayoutScripts/jquery.parallax-1.1.3.js"></script>
    <script src="~/Scripts/LayoutScripts/imagesloaded.pkgd.js"></script>
    <script src="~/Scripts/LayoutScripts/jquery.sticky.js"></script>
    <script src="~/Scripts/LayoutScripts/smoothscroll.js"></script>
    <script src="~/Scripts/LayoutScripts/wow.min.js"></script>
    <script src="~/Scripts/LayoutScripts/jquery.easypiechart.js"></script>
    <script src="~/Scripts/LayoutScripts/waypoints.min.js"></script>
    <script src="~/Scripts/LayoutScripts/jquery.cbpQTRotator.js"></script>
    <script src="~/Scripts/LayoutScripts/custom.js"></script>
</body>
</html>