@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Services start -->
<section id="pagestart" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">You have chosen to come to live in London: Congratulations!</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        The first thing you have to find is an housing and we are here to help you.
                        Thanks to our great network of landlords, we can propose you many rooms of different types, for small and big budget and in different areas of London. 
                        Our agents are at your disposal at anytime to advise you and to help you finding the perfect room
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">How does it work?</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        You can get in touch with an agent of your choice and he will propose you several rooms corresponding to your criteria. 
                        If you are in London, you can meet the agent and view rooms to choose the best one.
                        If you are not in London, you can book your room online and move the day of your arrived (you must contact an agent before booking).
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Privilège</h3>
                            <div class="iconbox-desc">
                                Nous réservons votre habitation voisine temporaire pour 3 nuits et puis vous accompagnons pour visiter propriétés correspondant à vos critères.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Clé en main</h3>
                            <div class="iconbox-desc">
                                Pour les nouveaux arrivants nous réservons habitation voisine à l'avance et vous accompagnons pour visiter propriétés correspondant à vos critères.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Visite à distance</h3>
                            <div class="iconbox-desc">
                                Nous vous permettons de visiter les maisons à distance , puis sélectionnez maisons pour vous. Il vous permet de réserver votre hébergement par email avant d'arriver à Londres.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- .row -->*@
    </div>
    <!-- .container -->
</section>
<!-- Services end -->

<!-- More abou services start -->

@*<section class="calltoaction">
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <h2 class="wow slideInRight" data-wow-delay=".1s" style="text-align: center">NOS SERVICES COMPRENNENT...</h2>

            </div>

        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="calltoaction-decription wow slideInLeft" data-wow-delay=".2s">
                    Nous livrons notre mieux pour vous réconforter.
                    Notre équipe d'experts est toujours là pour vous aider et vous accompagner dans tous vos voyage de trouver un lieu de vie.
				
                </div>

            </div>
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                    En complément de la recherche de logement, les services
                    "Privilège", "Clef en Main" et "Visite à distance" comprennent* :
                    <ul>
                        <li>Oyster Card (Carte de transport) pré-chargée de £5 de crédit
                        </li>
                        <li>SIM Card
                        </li>
                        <li>Rendez-vous en Job Center pour obtenir un NIN (National Insurance Number/Numéro de travail, indispensable pour travailler)
                        </li>
                        <li>Rendez-vous en agence bancaire pour une ouverture de compte 
                        </li>
                        <li>Des places à des évènements pour découvrir la vie Londonnienne 
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- .container -->
</section>
<!-- More abou services end -->*@

<!-- Contact start -->

<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">Drop Us a Line</h2>
                    <div class="pfblock-line"></div>
                    @*<div class="pfblock-subtitle">
                        Some Text Goes Here
					
                    </div>*@
                </div>

            </div>

        </div>
        <!-- .row -->

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <form id="contact-form" role="form">
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">Name</label>
                            <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">Email</label>
                            <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                    </div>
                    <div class="ajax-response"></div>
                </form>

            </div>

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>

<!-- Contact end -->
