@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string text = string.Empty;
}

<section id="pagestart" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">
                        @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                        {
                            text = "You have chosen to come to live in London: Congratulations!";
                        }
                        else
                        {
                            text = "Vous avez choisi de venir vivre à Londres: Félicitations!";
                        }
                        @text
                    </h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                        {
                            text = @"The first thing you have to find is an housing and we are here to help you.
                                    Thanks to our great network of landlords, we can propose you many rooms of different types, for small and big budget and in different areas of London. 
                                    Our agents are at your disposal at anytime to advise you and to help you finding the perfect room";
                        }
                        else
                        {
                            text = @"La première chose que vous devez trouver est un logement et nous sommes là pour vous aider.
                                    Grâce à notre important réseau de propriétaires londoniens, nous pouvons vous proposer des chambres de tout type,
                                    pour tout budget et dans les différentes zones de Londres. Nos agents sont à votre disposition pour vous conseiller
                                    et pour vous aider à trouver la chambre parfaite.";
                        }
                        @text
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">
                        @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                        {
                            text = "How does it work?";
                        }
                        else
                        {
                            text = "Comment ça marche?";
                        }
                        @text
                    </h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                        {
                            text = @"You can get in touch with an agent of your choice and he will propose you several rooms corresponding to your criteria. 
                                    If you are in London, you can meet the agent and view rooms to choose the best one.
                                    If you are not in London, you can book your room online and move the day of your arrived (you must contact an agent before booking).";
                        }
                        else
                        {
                            text = @"Vous pouvez contacter un de nos agents de votre choix afin qu'il vous propose des chambres adaptées à vos critères.
                                    Si vous êtes déjà sur Londres, vous pouvez rencontrer cet agent pour qu'il vous fasse visiter plusieurs chambres dans
                                    le but de choisir celle qui vous correspond le mieux. Si vous n'êtes pas encore sur Londres, vous pouvez réserver votre
                                    chambre en ligne et emménager le jour de votre arrivé (vous devez contacter un agent avant d'effectuer une réservation)";
                        }
                        @text

                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Privilège</h3>
                            <div class="iconbox-desc">
                                Nous réservons votre habitation voisine temporaire pour 3 nuits et puis vous accompagnons pour visiter propriétés correspondant à vos critères.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Clé en main</h3>
                            <div class="iconbox-desc">
                                Pour les nouveaux arrivants nous réservons habitation voisine à l'avance et vous accompagnons pour visiter propriétés correspondant à vos critères.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Visite à distance</h3>
                            <div class="iconbox-desc">
                                Nous vous permettons de visiter les maisons à distance , puis sélectionnez maisons pour vous. Il vous permet de réserver votre hébergement par email avant d'arriver à Londres.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- .row -->*@
    </div>
    <!-- .container -->
</section>
<!-- Services end -->

<!-- More abou services start -->

@*<section class="calltoaction">
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <h2 class="wow slideInRight" data-wow-delay=".1s" style="text-align: center">NOS SERVICES COMPRENNENT...</h2>

            </div>

        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="calltoaction-decription wow slideInLeft" data-wow-delay=".2s">
                    Nous livrons notre mieux pour vous réconforter.
                    Notre équipe d'experts est toujours là pour vous aider et vous accompagner dans tous vos voyage de trouver un lieu de vie.
				
                </div>

            </div>
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                    En complément de la recherche de logement, les services
                    "Privilège", "Clef en Main" et "Visite à distance" comprennent* :
                    <ul>
                        <li>Oyster Card (Carte de transport) pré-chargée de £5 de crédit
                        </li>
                        <li>SIM Card
                        </li>
                        <li>Rendez-vous en Job Center pour obtenir un NIN (National Insurance Number/Numéro de travail, indispensable pour travailler)
                        </li>
                        <li>Rendez-vous en agence bancaire pour une ouverture de compte 
                        </li>
                        <li>Des places à des évènements pour découvrir la vie Londonnienne 
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- .container -->
</section>
<!-- More abou services end -->*@

<!-- Contact start -->

<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">
                        @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                        {
                            text = "Drop Us a Line";
                        }
                        else
                        {
                            text = "Écrivez-Nous";
                        }
                        @text


                    </h2>
                    <div class="pfblock-line"></div>
                    @*<div class="pfblock-subtitle">
                        Some Text Goes Here
					
                    </div>*@
                </div>

            </div>

        </div>
        <!-- .row -->

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <form id="contact-form" role="form">
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">
                                @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                                {
                                    text = "Name";
                                }
                                else
                                {
                                    text = "Nom";
                                }
                                @text
                            </label>
                            <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">

                                @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                                {
                                    text = "Email";
                                }
                                else
                                {
                                    text = "Email";
                                }
                                @text
                            </label>
                            <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">

                            @if (Convert.ToBoolean(Session["IsEnglishVersion"]) == true)
                            {
                                text = "Send Message";
                            }
                            else
                            {
                                text = "Envoyer Le Message";
                            }
                            @text
                        </button>
                    </div>
                    <div class="ajax-response"></div>
                </form>

            </div>

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>

<!-- Contact end -->
