@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Services start -->
<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Garanti</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Nous vous aidons à trouver votre maison en moins de trois jours, et oui il est garanti.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Nos Services</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Vous voulez trouver un logement à Londres en arrivée courte ?
                        Nous vous aiderons à trouver le logement qui vous convient et vous permet de regarder avec impatience vos prochains objectifs.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Privilège</h3>
                            <div class="iconbox-desc">
                                Nous réservons votre habitation voisine temporaire pour 3 nuits et puis vous accompagnons pour visiter propriétés correspondant à vos critères.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Clé en main</h3>
                        <div class="iconbox-desc">
                            Pour les nouveaux arrivants nous réservons habitation voisine à l'avance et vous accompagnons pour visiter propriétés correspondant à vos critères.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-badge"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Visite à distance</h3>
                        <div class="iconbox-desc">
                            Nous vous permettons de visiter les maisons à distance , puis sélectionnez maisons pour vous. Il vous permet de réserver votre hébergement par email avant d'arriver à Londres.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Services end -->
