@{
    ViewBag.Title = "uploadimages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/dropzone.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        Drop photos to upload.
        <br />
        <br />
        <form action="@Url.Action("AddImagesToRoom","Admin")" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
        <br />
        <br />

        <a href="@Url.Action("SaveAd","admin")" class="btn btn-primary">Done</a>

    </div>
    <div class="col-md-3">
    </div>
</div>


<script src="~/Scripts/dropzone.min.js"></script>
